<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
    }
    
    </style>
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style = "width: fit-content" >
      <div class="mdl-grid mdl-grid--no-spacing" >
        <div  class = "mdl-cell mdl-cell--4-col" 
              *ngFor = "let location of locations"
              style =  "height: 150px;
              width: 100px">
          <location-thumbnail [location] = "location"></location-thumbnail>
        </div>
      </div>
    </div>