<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 20;
    }
    
    </style>
    
    <div>
    <div style = "height: 1000000px;
                  width: 1000000px;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #000;
                  opacity: 0.9;
                  z-index: 10">
            <button (click) = 'toggleMenu()' 
                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" 
                    style ="color: #fff; position: fixed; right: 0px; top: 0px;">
                <i class="material-icons">close</i>
            </button>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style = "width: fit-content" >
        <div class="mdl-grid mdl-grid--no-spacing" >
          <div  class = "mdl-cell mdl-cell--4-col" 
                *ngFor = "let location of locations">
            <location-thumbnail [location] = "location"></location-thumbnail>
          </div>
        </div>
  </div>
</div>