<div class = 'mdl-layout__content'>
	<br />
	<section class='section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp'  style ='box-shadow: 5px 5px 20px black; '>
		
		
		<div class='mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone' >
			<div class='mdl-card__supporting-text' >
				<h2  align='left'>{{location.location}}</h2>
				<p align='left'>
				Address: {{location.address}} <br />
				
				
				<strong>Opening Hours:			</strong>
				</p>
				<pre align='left'>	Monday:      {{location.openingHours[0]}}</pre>							  
				<pre align='left'>	Tuesday:     {{location.openingHours[1]}}</pre>						  
				<pre align='left'>	Wednesday:   {{location.openingHours[2]}}</pre>						 
				<pre align='left'>	Thursday:    {{location.openingHours[3]}}</pre>							
				<pre align='left'>	Friday:      {{location.openingHours[4]}}</pre>							
				<pre align='left'>	Saturday:   {{location.openingHours[5]}}</pre>
				<pre align='left'>	Sunday:     {{location.openingHours[6]}}</pre>
				
				
				
			</div>
		</div>
		<div class='mdl-cell mdl-cell--6-col-desktop'>
			<img src= '/assets/locations/{{location.venueImage}}' alt = 'image of london location'>
		</div>
	</section>
	<br />
	<br />
	
	<section  class = 'section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp'>
		<div class='mdl-card mdl-cell mdl-cell--12-col'>
		<!-- div for each local amenity --> 
		<h3 class ='mdl-cell--12-col-desktop'>Local Restaurants</h3>
		
		<div *ngFor= "let amenity of amenities" >
			<amenity-box [amenity] = "amenity"></amenity-box>
		</div>
		
		</div>
	</section>
</div>
