<div class = 'mdl-layout__content'>
	<br />
	<section class='section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp'  style ='box-shadow: 5px 5px 20px black; '>
		
		
		<div class='mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone' >
			<div class='mdl-card__supporting-text' >
				<h2  align='left'>London</h2>
				<p align='left'>
				Address: 123 fake street, fakeston, London, LL00 0LL <br />
				
				
				<strong>Opening Hours:			</strong>
				</p>
				<pre align='left'>	Monday:      9:00 - 11:00</pre>							  
				<pre align='left'>	Tuesday:     8:30 - 11:00</pre>						  
				<pre align='left'>	Wednesday:   9:00 - 11:00</pre>						 
				<pre align='left'>	Thursday:    9:00 - 11:00</pre>							
				<pre align='left'>	Friday:      9:00 - 12:00</pre>							
				<pre align='left'>	Saturday:   10:00 - 12:00</pre>
				<pre align='left'>	Sunday:     10:00 - 20:00</pre>
				
				
				
			</div>
		</div>
		<div class='mdl-cell mdl-cell--6-col-desktop'>
			<img src= '/assets/londonlocation.jpg' alt = 'image of london location'>
		</div>
	</section>
	<br />
	<br />
	
	<section  class = 'section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp'>
		<div class='mdl-card mdl-cell mdl-cell--12-col'>
		<!-- div for each local amenity --> 
		<h3 class ='mdl-cell--12-col-desktop'>Local Restaurants</h3>
		
		<div class='mdl-card__supporting-text mdl-grid mdl-grid--no-spacing' style ='box-shadow: 5px 5px 20px black;'>
			<div class='mdl-cell mdl-cell--4-col-desktop' align='left'>
				<img src='/assets/ammenities/f&b.jpg' alt='f&b amenity image 1'>
			</div>
			<div  class='mdl-card mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone' align='left' >
				<h4><strong> Frankie and Bennys </strong></h4>
				<p>Local restaurant details</p>
				<p>link to their site</p>
			</div>
		</div>
		<br/>
		
		<div class='mdl-card__supporting-text mdl-grid mdl-grid--no-spacing' style ='box-shadow: 5px 5px 20px black;'>
			<div class='mdl-cell mdl-cell--4-col-desktop' align='left'>
				<img src='/assets/ammenities/nandos.jpg' alt='nandos amenity image 2'>
			</div>
			<div  class='mdl-card mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone' align='left'>
				<h5 > <strong>Nandos </strong></h5>
				<p>Local restaurant details</p>
				<p>link to their site</p>
			</div>
		</div>
		
		</div>
	</section>
</div>
