
<div class='mdl-card__supporting-text mdl-grid mdl-grid--no-spacing' style ='box-shadow: 5px 5px 20px black;'>
	
	<div class='mdl-cell mdl-cell--4-col-desktop' align='left'>
		
		<img src='/assets/locations/ammenities/{{amenity.businessImg}}' alt='f&b amenity image 1'>
		
	</div>
	
	<div  class='mdl-card mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone' align='left' >
	
		<h4><strong> {{amenity.busisnessName}} </strong></h4> 
		<p>{{amenity.busisnessDescription}}</p>
		<a  href='{{amenity.businessLink}}' >{{amenity.businessLink}}</a>
	
	</div>
</div>
<br/>