<div>
	<div >
		<div>
			<nav className = 'mdl-navigation '>
				<a className = 'mdl-navigation_link mdl-layout-spacer' [routerLink]= "['/home']" >Home</a>
				<a className = 'mdl-navigation_link mdl-layout-spacer' [routerLink] = "['/about']">About</a>
				<a className = 'mdl-navigation_link mdl-layout-spacer' [routerLink] = "['/films']">Films</a>
				<a className = 'mdl-navigation_link mdl-layout-spacer' >Classifications</a>
				<a className = 'mdl-navigation_link mdl-layout-spacer' >Login</a>
			</nav>
		</div>
	</div>
</div>