<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect mdl-button-icon is-active' [routerLink]= "['/home']">Home</a>
<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/about']">About</a>
<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/films']">Films</a>
<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/classifications']">Classifications</a>
<location></location>
<a *ngIf="authService.loggedIn()" class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/dashboard']">Dashboard</a>
<a *ngIf="authService.loggedIn()" class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/profile']">Profile</a>
<a *ngIf="!authService.loggedIn()" class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/login']">Login</a>
<a *ngIf="!authService.loggedIn()" class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/register']">Register</a>
<a *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#" class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect'>Logout</a>
