	<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect mdl-button-icon' [routerLink]= "['/home']">Home</a>
	<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/about']">About</a>
	<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/films']">Films</a>
	<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' [routerLink] = "['/classifications']">Classifications</a>
	<a class = 'mdl-layout__tab  mdl-js-button mdl-js-ripple-effect' >Login</a>
