<div class="homepage">
    <div class="carousel">
        <ngx-siema [options]="options" selector="siema">
            hello
            <ngx-siema-slide>
                <img src="../../../assets/images/carousel/interstellar.jpg">
            </ngx-siema-slide>
            <ngx-siema-slide>
                <img src=".././../assets/images/carousel/2001.jpg">
            </ngx-siema-slide>
            <ngx-siema-slide>
                <img src="../../../assets/images/carousel/tdk.jpg">
            </ngx-siema-slide>
        </ngx-siema>
        <button type="button" (click)="prev()">Prev</button>
        <button type="button" (click)="next()">Next</button>
    </div>

    <div class="homepage-deals">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-card mdl-shadow--2dp deal1">

                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-card mdl-shadow--2dp deal2">

                </div>
            </div>
        </div>
    </div>

    <div class="films">
        <film-rows [row]="1"></film-rows>
        <film-rows [row]="2"></film-rows>
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--3-col">

                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[0].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">


                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[0].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[1].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[1].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[2].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[2].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[3].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[3].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[4].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[4].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[5].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[5].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[6].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[6].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/'+films[7].image+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">

                    </div>
                    <div class="mdl-card__supporting-text">
                        {{films[7].name}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            Book
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
