<div class="homepage">
    <div class="carousel">
        <ngx-siema [options]="options" selector="siema">
            hello
            <ngx-siema-slide>
                <img src="../../../assets/images/carousel/interstellar.jpg">
            </ngx-siema-slide>
            <ngx-siema-slide>
                <img src=".././../assets/images/carousel/2001.jpg">
            </ngx-siema-slide>
            <ngx-siema-slide>
                <img src="../../../assets/images/carousel/tdk.jpg">
            </ngx-siema-slide>
        </ngx-siema>
        <button type="button" (click)="prev()">Prev</button>
        <button type="button" (click)="next()">Next</button>
    </div>

    <div class="homepage-deals">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-card mdl-shadow--2dp deal1">

                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-card mdl-shadow--2dp deal2">

                </div>
            </div>
        </div>
    </div>

    <div class="films">
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/bd.jpg'+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">
                        Film title goes here
                    </div>
                    <div class="mdl-card__supporting-text">
                        Film description here
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            go to film button
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/bd.jpg'+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">
                        Film title goes here
                    </div>
                    <div class="mdl-card__supporting-text">
                        Film description here
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            go to film button
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/bd.jpg'+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">
                        Film title goes here
                    </div>
                    <div class="mdl-card__supporting-text">
                        Film description here
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            go to film button
                        </a>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp homepage-film_card" [ngStyle]="{'width':'15em'}">
                    <div class= "mdl-card__title" [ngStyle]="{'background-image': 'url('+'../../../assets/images/bd.jpg'+')', 'background-repeat':'no-repeat', 'height':'22.5em','background-size':'contain'}">
                        Film title goes here
                    </div>
                    <div class="mdl-card__supporting-text">
                        Film description here
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple effect">
                            go to film button
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col">

            </div>
            <div class="mdl-cell mdl-cell--3-col">

            </div>
            <div class="mdl-cell mdl-cell--3-col">

            </div>
            <div class="mdl-cell mdl-cell--3-col">

            </div>
        </div>
    </div>
</div>
